<h1> Logout </h1>

<h2> You have been securely logged out </a> 


<h2> Want To <a href='/'>Go Home?</a> </h2>
<br>
<h2>
<a href='/register'>Register</a> | <a href='/login'>Login</a>
<br>
Try Checking Out <a href='/restricted'>The Page That Requires Authentication</a>
</h2>
